
body{
    margin: 0px;
}
ul{
   padding: 0px;
   margin: 0px;
   
}
a{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

header{
    height: 110px;
    background: black;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: 110px;
    background: black;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0px 20px;
}
.column-header{
display: flex;
}
.column-header img{
    padding: 20px 20px;
}
.column-header a{
        padding-top: 56px;
        padding-left: 40px;
}
.column-headerright{
    display: flex;
    align-items: flex-end;
    width: 78%;
    height: 100%;
    flex-direction: column;
}
.row-headertop{
    display: flex;
    width: 100%;
    /* height: 46%; */
    justify-content: flex-end;
    flex-direction: row;
    align-items: flex-end;
}
.row-headerbutton{
    display: flex;
    align-items: flex-end;
    height: 100px;
}
.menu{
    display: flex;
    justify-content: space-around;
}
.super-menu{
    padding: 20px;
}
#d{
    padding-right: 38px;
}
span{
    display: inline-block;
    padding-top: 10px;
}

main{
    height: 2200px;
}
.slider{
    width: 100%;
}
.slider img{
    width: 100%;
}
.benz{
    width: 150;
    height: 60px;
    position: absolute;
    bottom: 198px;
    right: 90px;
    z-index: 100;
}
.benz1{
    width: 150;
    height: 60px;
    position: absolute;
    bottom: 160px;
    right: 80px;
}
.benz2{
    width: 150;
    height: 60px;
    position: absolute;
    bottom: 135px;
    right: 100px;
}
.menu-benz{
    position: absolute;
    top: 40%;
    text-align: center;
    font-size: xx-large;
    color: rgba(0, 0, 0, 0.438);
    font-family: initial;
    left: 40px;
}
.box{
    width: 100%;
    height: 95px;
    background: rgb(24, 23, 23);
    margin: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#search{
    width: 81%;
    height: 39px;
    border: none;
    background: #efefef;
    padding: 0px 10px;
}
.btn{
    width: 5%;
    height: 39px;
    border: none;
}
.container{
    width: 100%;
    background: black;
    height: 700px;
    color: white;
    
}
.super{
    margin-top: -22px;
}
.h1 h1{
  text-align: center; 

}
.divp{
    width: 50%;
}
.p{
    text-align: center;
}
.pb{
    margin-bottom: -5%;
}
.btnn{
    width: 175px;
    height: 40px;
    background: rgb(97, 152, 216);
    color: rgb(9 7 7);
    font-family: inherit;
    border: 1px solid #b7bac4;
    float: right;
    border-radius: 5px;
}

.div1 img{
    width: 270px;
    height: 140px;
}

.div2 img{
    width: 270px;
    height: 140px;
}

.div3 img{
    width:  270px;
    height: 140px;
}
.container1{
    width: 200%;
    height: 201px;
   
}
.super-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    height: 205px;
    list-style: none;
}





footer{
    height: 150px;
    background: black;
}